@model OnboardingManagement.Models.Onboarder


@using (Html.BeginForm("Delete", "Onboarder"))
{
    <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-8"><h3><b>Delete Onboarder Entry</b></h3></div>
    </div>

    @*Edit Box for Onboarder Name*@
    <div class="row">
        <div class="col-sm-3"><h4> @Html.Label("Select OnBoarder")</h4></div>
        <div class="col-sm-8">@(Html.Kendo().DropDownListFor(p => Model.O_Id)
                           .Name("OnboardID")
                           .DataTextField("O_Name")
                           .DataValueField("O_Id")
                           .DataSource(source =>
                           {
                               source.Read(read =>
                               {
                                   read.Action("GetAllOnboarders", "Onboarder");
                               });
                           })
                          .Filter("contains")
                          .HtmlAttributes(new { style = "width: 100%" })
        )
           
        </div>
    </div>



                <div class="row">
                    <div class="col-sm-3"></div>
                    <div class="col-sm-8"><button class="btn btn-lg btn-primary" type="submit">Delete</button></div>
                </div>
}

